<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ current_rublic }} :: Доска объявлений</title>
</head>
<body>
    <h1>Объявления</h1>
    <h2>Рублика: {{ current_rublic.name }}</h2>
    <div>
        <a href="/bboard/">Главная</a>
        {% for rublic in rublics %}
        <a href="/bboard/{{ rublic.pk }}/">{{ rublic.name }}</a>
        {% endfor %}
        <a href="{% url 'add' %}">Добавить</a>
    </div>
    {% for bb in bbs %}
    <div>
        <h2>{{ bb.title }}</h2>
        <p>{{ bb.content }}</p>
        <p>{{ bb.published|date:"d.m.Y H.i.s" }}</p>
    </div>
    {% endfor %}
</body>
</html>